body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f6;
    margin: 0;
}

.quote-box {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    text-align: center;
    max-width: 400px;
}

#quote-text {
    font-style: italic;
    font-size: 1.2rem;
    color: #555;
    margin: 20px 0;
    min-height: 60px; /* Щоб блок не "стрибав" при зміні тексту */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}